
.icon-camera:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-filled:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-download-outline:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-beer:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-user-add:before { content: '\e80c'; } /* '' */
.icon-location-1:before { content: '\e80d'; } /* '' */
.icon-cc-nc-eu:before { content: '\e80e'; } /* '' */
.icon-flickr:before { content: '\e80f'; } /* '' */
.icon-at:before { content: '\e810'; } /* '' */
.icon-down-open-1:before { content: '\e811'; } /* '' */
.icon-cc-by:before { content: '\e812'; } /* '' */
.icon-twitter-bird:before { content: '\e813'; } /* '' */
.icon-facebook-rect:before { content: '\e814'; } /* '' */
.icon-vimeo-rect:before { content: '\e815'; } /* '' */
.icon-googleplus-rect:before { content: '\e816'; } /* '' */
.icon-skype-1:before { content: '\e817'; } /* '' */
.icon-blogger-rect:before { content: '\e818'; } /* '' */
.icon-instagram-filled:before { content: '\e819'; } /* '' */
.icon-box-rect:before { content: '\e81a'; } /* '' */
.icon-cc:before { content: '\e81b'; } /* '' */
.icon-cc-nd:before { content: '\e81c'; } /* '' */
.icon-info:before { content: '\e81d'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */
.icon-arrows-cw:before { content: '\e81f'; } /* '' */
.icon-trash:before { content: '\e820'; } /* '' */
.icon-pencil:before { content: '\e821'; } /* '' */
.icon-droplet:before { content: '\e822'; } /* '' */
.icon-up-open:before { content: '\e823'; } /* '' */
.icon-cog:before { content: '\e824'; } /* '' */
.icon-down-open-big:before { content: '\e825'; } /* '' */
.icon-up-open-big:before { content: '\e826'; } /* '' */
.icon-cog-1:before { content: '\e827'; } /* '' */
.icon-down-open:before { content: '\e828'; } /* '' */
.icon-up-open-1:before { content: '\e829'; } /* '' */
.icon-plus-1:before { content: '\e82a'; } /* '' */
.icon-plus-2:before { content: '\e82b'; } /* '' */
.icon-italic:before { content: '\e82c'; } /* '' */
.icon-bold-1:before { content: '\e82d'; } /* '' */
.icon-align-right:before { content: '\e82e'; } /* '' */
.icon-align-left:before { content: '\e82f'; } /* '' */
.icon-align-center:before { content: '\e830'; } /* '' */
.icon-align-justify:before { content: '\e831'; } /* '' */
.icon-text-height:before { content: '\e832'; } /* '' */
.icon-font:before { content: '\e833'; } /* '' */
.icon-fontsize:before { content: '\e834'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */