//MENU RIGHT
$menu-width: 300px;

.content{	
	&.active{
		@include trf(translate(-$menu-width, 0));
	}
}


.body-project.show-menu-right{
	.menu-right-button{
		@include trf(translate(-$menu-width, 0));
	}

	.tooltipRight{
		@include trf(translate(-$menu-width, 0));
	}

}

.menu-right{	
	@include trf(translate($menu-width, 0));
	width:$menu-width;	
	background: $background;	
}

.project-element-parent{

	.element-tools{
		opacity: 0;
	}
	
	&:hover{
		>.element-tools{
			opacity: 1;
		}
	}
}