.dashboard{
	min-height: 100%;
	background-color: $background;
	//color: $negro;
	font-weight: 400;
	z-index: 1;
	position: relative;
	
	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	.inputfile + label {	   
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    cursor: pointer;
	    display: inline-block;
	    overflow: hidden;	   
	}



	.userContent{
		padding: 10px;	

		.input-container{
			display: block;
			margin-bottom: 20px;

			label{
				width: 100%;
				display: block;	
				margin-bottom: 5px;			
			}

			input{
				width: 100%;
				padding: 10px;
				background-color: $blanco;
				//border-bottom: 2px solid $button;
			}
		}

		.send{
			width: 100%;
		}
		
		.cont{
			background-color: $hover;	
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);			
			margin-bottom: 20px;

			.title{
				background-color: rgba(0,0,0,0.2);
				padding: 10px;
			}

			.cont-content{
				padding: 15px;	

				textarea{
					resize: vertical;
					width: 100%;
					height: auto;
					min-height: 100px;

					&.small{
						min-height: 0;
					}
				}

				button{
					margin: 5px auto;
				}
			}

			img{
				display: block;
				max-width: 80%;
				margin: 10px auto;
			}

		}

		.colors-list{
			@include flexbox();
			@include flex-wrap(wrap);
			@include flex-justify(space-between);

			>li{
				width: 48%;
			}

			.color{
				border-radius: 2px;
				width: 40px;
				height: 40px;
			}
		}

		
		.projects-list, .list{

			li{
				@include flexbox();
				@include flex-justify(space-between);
				@include flex-align(center);
				margin-bottom: 10px;
				padding: 5px;

				.text{
					width: 60%;
				}

				&:last-child{
					margin-bottom: 0;
				}

				.btn{
					margin-left: 10px;
					&:first-child{
						margin-left: 0;
					}
				}
			}
		}

	
	}
}