.dashboard{

	.userContent{
	
		.input-container{
			margin-bottom: 20px;
		}
		.right{	
			ul{
				li{

					button{
						i{
							display: none;
						}
						span{
							display: inline-block;
						}
					}
				}
			}
		}
	}
}